.promoCodeInputContainer {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  align-items: center;

  label, button {
    width: 100%; /* Ensure full width */
    margin-bottom: 1rem; /* Add some space between elements */
  }
  label {
    display: block;
    margin-bottom: 0rem; /* Reduce spacing between label and input */
    font-weight: bold;
    color: #555;
  }
  .buttonContainer {
      width: 65%; // Match the input width for consistency
      display: flex;
      flex-direction: row; // Stack buttons vertically
    }
  input {
    padding: 12px 20px; // Increased padding for better touch targets
    border-radius: 5px; // Rounded corners
    font-size: 18px; // Larger font size
    outline: none; // Remove focus outline for consistency
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 65%;
  }
    button {
    width: auto; /* Allow the button to size based on content */
    padding: 10px 20px;
  }
}

