@import "../../../_css/common";


.buttonContainer {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.buttonCart {
  width: 12%;
}
/* index.module.scss */
.error {
  color: darkred;
  font-weight: bold;
  margin-top: 0.5rem;
}

.buttonSubmit {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
  position: relative;
  z-index: 0;
  width:38%;
}

.buttonSubmit::before {
  content: '';
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at var(--x) var(--y), orange, red);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: -1;
}

.buttonSubmit:hover::before {
  opacity: 1;
}

.buttonSubmit:active::before {
  background: radial-gradient(circle at var(--x) var(--y), red, orange);
}

.buttonSubmit:active {
  transform: scale(0.95);
}
.discountApplied {
  color: orange;
}

.container {
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
}

.bankDetails {
  flex: 1;
}

.addressFormContainer {
  flex: 1;
}

.addressForm {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.addressForm h3 {
  margin-bottom: 1rem;
}

.addressForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.addressForm input {
  width: calc(100% - 1rem); /* Ensure inputs fit well within the container */
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.addressForm button {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.addressForm button:hover {
  transform: scale(1.05);
}

.addressForm button:active {
  transform: scale(0.95);
}

